@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Mochiy+Pop+P+One&family=Rubik+Beastly&display=swap');

.rodape {
    color: white;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.rodape-texto {
    
}